/* Single post styles */

.single-post {
    article {
        .entry-title {
            margin-top: 40px;
        }
        #commentform {
            label {
                font-size: $f-size - 2px;
                vertical-align: top;
                margin-top: 10px;
            }
        }
    }
}