/* Virtue theme custom styles */

/* border radius */

/* box shadow */

/* box sizing */

/* calculate */

/* transform */

/* transition */

/* opacity */

/* breakpoint with one condition(min or max) */

/* breakpoint with two conditions (min and max) */

/* extend placeholder */

/* Background */

/* Color */

/* Font */

/* Responsive */

/* General styles */

/* line 3, assets/scss/global/_general.scss */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 767px) {
  /* line 9, assets/scss/global/_general.scss */

  .page-header h1 {
    font-size: 30px;
    line-height: 1;
  }
}

/* Header styles */

/* line 4, assets/scss/global/_header.scss */

header.headerclass {
  -webkit-box-shadow: 0 1px 5px rgba(202, 152, 177, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(202, 152, 177, 0.3);
  box-shadow: 0 1px 5px rgba(202, 152, 177, 0.3);
  position: relative;
}

/* line 10, assets/scss/global/_header.scss */

header.kad-header-style-three #thelogo img {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 1024px) {
  /* line 20, assets/scss/global/_header.scss */

  header#kad-banner #logo .kad-retina-logo {
    display: inline-block !important;
  }
}

@media only screen and (max-width: 991px) {
  /* line 30, assets/scss/global/_header.scss */

  header.kad-header-style-three #thelogo img {
    padding-top: 15px;
  }

  /* line 37, assets/scss/global/_header.scss */

  header.kad-center-head-shrink .nav-trigger .nav-trigger-case {
    top: -80px;
  }

  /* line 39, assets/scss/global/_header.scss */

  header.kad-center-head-shrink .nav-trigger .nav-trigger-case:focus {
    outline: none;
  }

  /* line 42, assets/scss/global/_header.scss */

  header.kad-center-head-shrink .nav-trigger .nav-trigger-case .icon-menu {
    color: #ca98b1;
  }
}

@media only screen and (max-width: 767px) {
  /* line 51, assets/scss/global/_header.scss */

  header #kad-shrinkheader {
    max-height: 80px;
  }

  /* line 54, assets/scss/global/_header.scss */

  header #kad-shrinkheader #logo a.brand {
    max-height: 80px;
  }

  /* line 61, assets/scss/global/_header.scss */

  header.kad-header-style-three #thelogo img {
    padding: 10px 0;
  }

  /* line 68, assets/scss/global/_header.scss */

  header#kad-banner #logo .kad-retina-logo {
    max-height: 80px !important;
  }

  /* line 75, assets/scss/global/_header.scss */

  header.kad-center-head-shrink .nav-trigger .nav-trigger-case {
    top: -65px;
  }
}

/* Footer styles */

/* line 6, assets/scss/global/_footer.scss */

footer .footercol4 .virtue_social_widget a {
  float: right;
}

/* line 12, assets/scss/global/_footer.scss */

footer .footercredits p {
  font-size: 12px;
}

/* line 19, assets/scss/global/_footer.scss */

footer .footernav ul li a {
  font-size: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 30, assets/scss/global/_footer.scss */

  footer .footercol2 .kadence_image_grid .imagegrid-widget a.imagegrid_item {
    float: right;
  }
}

@media only screen and (max-width: 767px) {
  /* line 40, assets/scss/global/_footer.scss */

  footer .footercol4 .virtue_social_widget {
    text-align: center;
  }

  /* line 42, assets/scss/global/_footer.scss */

  footer .footercol4 .virtue_social_widget a {
    display: inline-block;
    vertical-align: top;
    float: none;
  }

  /* line 49, assets/scss/global/_footer.scss */

  footer .footercredits {
    text-align: center;
  }

  /* line 53, assets/scss/global/_footer.scss */

  footer .footernav ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
  }
}

/* Breadcrumb styles */

/* line 4, assets/scss/component/_breadcrumb.scss */

.contentclass #kadbreadcrumbs {
  font-size: 12px;
}

/* Sidebar styles */

/* line 5, assets/scss/component/_sidebar.scss */

#ktsidebar .kadence_recent_posts ul {
  margin-left: 0;
}

/* line 8, assets/scss/component/_sidebar.scss */

#ktsidebar .kadence_recent_posts .recentpost_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Portfolio styles */

@media only screen and (max-width: 1024px) {
  /* line 8, assets/scss/component/_portfolio.scss */

  .home-portfolio .portfolio_item .portfoliolink,
  #portfoliowrapper .portfolio_item .portfoliolink,
  #portfolio-carousel .portfolio_item .portfoliolink {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  /* line 12, assets/scss/component/_portfolio.scss */

  .home-portfolio .portfolio_item .piteminfo h5,
  #portfoliowrapper .portfolio_item .piteminfo h5,
  #portfolio-carousel .portfolio_item .piteminfo h5 {
    font-size: 12px;
  }
}

/* Article styles */

/* line 4, assets/scss/component/_article.scss */

article .subhead,
article .subhead a {
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  /* line 9, assets/scss/component/_article.scss */

  article .entry-title {
    font-size: 20px;
    line-height: normal;
  }
}

/* Home page styles */

/* line 4, assets/scss/page/_home.scss */

.home .sliderclass {
  padding: 30px 0;
}

/* line 7, assets/scss/page/_home.scss */

.home .home-portfolio {
  padding-bottom: 0;
}

/* line 13, assets/scss/page/_home.scss */

.home .home_blog article .entry-content a {
  display: block;
}

@media only screen and (max-width: 767px) {
  /* line 21, assets/scss/page/_home.scss */

  .home .sliderclass {
    padding: 0;
  }
}

/* Single post styles */

/* line 5, assets/scss/page/_single-post.scss */

.single-post article .entry-title {
  margin-top: 40px;
}

/* line 9, assets/scss/page/_single-post.scss */

.single-post article #commentform label {
  font-size: 12px;
  vertical-align: top;
  margin-top: 10px;
}

/* Portfolio grid styles */

/* line 6, assets/scss/page/_portfolio-grid.scss */

.page-template-page-portfolio #filters li h5 {
  font-size: 14px;
}

/* Single portfolio styles */

@media only screen and (max-width: 991px) {
  /* line 6, assets/scss/page/_single-portfolio.scss */

  .single-portfolio .single-portfolio-item .entry-title {
    font-size: 30px;
  }

  /* line 10, assets/scss/page/_single-portfolio.scss */

  .single-portfolio .portfolio-single-img {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 16, assets/scss/page/_single-portfolio.scss */

  .single-portfolio .portfolionav {
    display: none;
  }
}