/* General styles */

body {
    font-family: $f-family;
}

@include bp(max-width, $bp-small - 1) {
    .page-header {
        h1 {
            font-size: 30px;
            line-height: 1;
        }
    }
}