/* General styles */

body {
    font-family: $f-family;
}

a {
    color: $c-hot-pink;
}

.entry-content {
    a {
        color: $c-hot-pink;
        @include transition();
        &:hover {
            color: $c-pink;
        }
    }
}

@include bp(max-width, $bp-small - 1) {
    .page-header {
        h1 {
            font-size: 30px;
            line-height: 1;
        }
    }
}